<header>
    Chris Kellum, Software Developer
</header>
<p>
    I am a father, Lego enthusist and a Software Developer. I am entusiastic I only really want to work on things that are interesting to me 
</p>
