<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> CaKellum | {{ .Title }}</title>
        <link rel="stylesheet" href="static/main.css">
        <link rel="icon" href="data:," >
    </head>
    <body>
        {{ .Content }}
    </body>
    <footer>
        <div class="copyright"> 
            &copy;{{ .CurrentYear }} Christopher Kellum
        </div>
    </footer>
</html>
